{% extends "base.html.twig" %}

{% block body %}
    <div class="NB_ADMIN">
        <h1>Nombre d'Admins</h1>
        <p>Il y a actuellement <strong>{{ nbAdmins }}</strong> administrateur(s) dans le système.</p>
    </div>
{% endblock %}
